<script type="text/html" data-help-name="dialog">
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt class="optional">payload <span class="property-type">string</span></dt>
        <dd>The <code>msg.payload</code> is <i>not used</i> by the dialog node, but will be passed through to the second output under certain conditions (see Output #2 below).</dd>
        <dt class="optional">title <span class="property-type">string</span></dt>
        <dd>Title of the dialog.</dd>
        <dt class="optional">text <span class="property-type">string</span></dt>
        <dd>Text message to display in the dialog.</dd>
        <dt class="optional">html <span class="property-type">string</span></dt>
        <dd>HTML formatted message to display in the dialog. (not yet implemented!)</dd>
        <dt class="optional">values <span class="property-type">varies</span></dt>
        <dd>The initial value in a "prompt" dialog, or an object with name:value pairs if the dialog has multiple fields (see "Custom fields" below).</dd>
        <dt class="optional">fields <span class="property-type">object</span></dt>
        <dd>An object describing the fields to show in the dialog (see "Custom fields" below).</dd>
    </dl>

    <h3>Output #1</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">varies</span></dt>
        <dd>The <code>msg.payload</code> on output #1 can be different types: 
          <ul>
            <li><code>true</code>, if the dialog is an "alert" dialog.</li>
            <li><code>true</code>, if the dialog is a "confirm" dialog, and primary action is taken (e.g. "Ok").</li>
            <li><b>the entered value</b>, if the dialog is a "prompt" and primary action is taken (e.g. "Ok").</li>
            <li><b>an object</b> containing the entered values, if the dialog is a "prompt" containing multiple fields, and primary action is taken (e.g. "Ok").</li>
            <li><code>true</code>, if this is a "passcode" dialog, <i>the correct passcode was entered</i>, and primary action is taken (e.g. "Ok")</li>
            <li><code>false</code>, in all other cases</li>
          </ul>
        </dd>
    </dl>

    <h3>Output #2</h3>
    <p>The second output will output the incoming message, but only if the primary action (e.g. "Ok") was chosen. Furthermore, the incoming message will be <i>dropped</i> if the dialog is a prompt dialog and no value(s) have been entered, or if it is a passcode dialog and <i>an incorrect passcode has been entered</i>.</p>

    <h3>Details</h3>
    <p>Shows <code>msg.text</code> as a popup dialog</p>
    <p>Sending a blank payload will remove any active dialog without sending any data.</p>

    <h3>Basic usage</h3>
    <p>Four different dialog types are available:<p>
    <dl>
      <dt>Alert</dt>
      <dd>A basic alert box which displays a message and can be dismissed with a button.</dd>
      <dt>Confirm</dt>
      <dd>Displays a message and asks the user to confirm (primary action) or abort (secondary action).</dd>
      <dt>Prompt</dt>
      <dd>Asks for user text input.</dd>
      <dt>Passcode</dt>
      <dd>Asks for a passcode. A master passcode can be supplied either as a local plain text <code>cred</code>, <i>or</i> as an SHA-256 hashed local, flow or global <code>string</code>.</dd>
    </dl>

    <h3>Custom fields</h3>
    <p>Custom fields can be provided for a "prompt" dialog by supplying a <code>msg.fields</code> parameter describing the fields. The initial value of a field can be set with <code>msg.values</code>. The fields supported by the default template include:</p>
    <dl>
      <dt>Text input</dt>
      <dd>
<pre>msg.fields = [{
    "type": "text",
    "name": "myText",
    "label": "My text input"
}]
msg.values = {
  "myText": "My initial value"
}</pre>
      </dd>
      <dt>Password input</dt>
      <dd>
<pre>msg.fields = [{
    "type": "password",
    "name": "myPass",
    "label": "My password input"
}]

msg.values = {
  "myPass": "My initial password"
}</pre>
      </dd>
      <dt>Select box</dt>
      <dd>
<pre>msg.fields = [{
    "type": "select",
    "name": "mySelect",
    "label": "A select box",
    "options": [{
          "name": "Option One",
          "value": 111 
      },{ 
          "name": "Option Two",
          "value": 222
    }]
}]

msg.values = {
  "mySelect": 222
}</pre>
      </dd>
      <dt>Radio buttons</dt>
      <dd>
<pre>msg.fields = [{
    "type": "radio",
    "name": "myRadio",
    "label": "A radio button group",
    "options": [{
          "label": "Radio One",
          "value": "R1" 
      },{ 
          "label": "Radio Two",
          "value": "R2"
    }]
}]

msg.values = {
    "myRadio": "R2"
}</pre>
      </dd>
      <dt>Checkboxes</dt>
      <dd>T.b.d.</dd>
      <dt>Date input</dt>
      <dd>
<pre>msg.fields = [{
    "type": "date",
    "name": "myDate",
    "label": "A date input"
}]

msg.values = {
    "myDate": new Date().toLocaleDateString()
}</pre>
    </dl>
    <p>Note that it is not currently possible to specify which fields are "required", or change the action buttons, without supplying a "Custom" template (see below).</p>

    <h3>Custom templates</h3>
    <p>A custom dialog template can be substituted by specifying a "File" to use, or by entering a "Custom" template directly in the configuration window. Certain Angular elements are required to make a fully functioning template:</p>
    <dl>
      <dt><code>&lt;md-dialog&gt;</code></dt>
      <dd>Container element for the entire dialog.</dd>
      <dt><code>&lt;md-dialog-content&gt;</code></dt>
      <dd>Container element for the dialog title, text and field(s).</dd>
      <dt><code>{{ dialog.title }}</code></dt>
      <dd>Contents of the msg.title parameter</dd>
      <dt><code>{{::dialog.textContent}}</code></dt>
      <dd>Contents of the msg.text parameter</dd>
      <dt><code>ng-bind-html="::dialog.mdHtmlContent | trusted"</code></dt>
      <dd>Binds the contents of the msg.html parameter to an Angular container (e.g. a &lt;div&gt;)</dd>
      <dt><code>&lt;md-dialog-actions&gt;</code></dt>
      <dd>Container element for the action buttons</dd>
      <dt><code>&lt;md-button ng-click="dialog.abort()"&gt;{{ dialog.cancel }}&lt;/md-button&gt;</code></dt>
      <dd>Action button to dismiss the dialog (e.g. "Cancel").</dd>
      <dt><code>&lt;md-button ng-click="dialog.hide()"&gt;{{ dialog.ok }}&lt;/md-button&gt;</code></dt>
      <dd>Action button to confirm the dialog (e.g. "Ok")</dd>
    </dl>

    <h3>References</h3>
    https://material.angularjs.org/latest/api/service/$mdDialog
</script>
