<md-dialog md-theme="{{ dialog.theme || dialog.defaultTheme }}" aria-label="{{ dialog.ariaLabel }}" >
  <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
      <h2 class="md-title">Blubo{{ dialog.title }}</h2>
      <div class="md-dialog-content-body"><p>{{::dialog.textContent}}</p></div>
      <md-input-container md-no-float ng-if="::dialog.$type == 'prompt'" class="md-prompt-input-container"><input ng-keypress="dialog.keypress($event)" md-autofocus ng-model="dialog.result" placeholder="{{::dialog.placeholder}}" ng-required="dialog.required">
      </md-input-container>
      <md-input-container md-no-float ng-if="::dialog.$type == 'passcode'" class="md-prompt-input-container"><input type="password" ng-keypress="dialog.keypress($event)" md-autofocus ng-model="dialog.result" placeholder="{{::dialog.placeholder}}" ng-required="dialog.required">
      </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button ng-if="dialog.$type != 'alert'" ng-click="dialog.abort()" class="md-primary md-cancel-button">{{ dialog.cancel }}</md-button>
      <md-button ng-click="dialog.hide()" class="md-primary md-confirm-button" md-autofocus="dialog.$type==='alert'" ng-disabled="dialog.required && !dialog.result">{{ dialog.ok }}</md-button>
  </md-dialog-actions>
</md-dialog>;